* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body{
    overflow-x: hidden;
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url("./assets/faded_gallery-b3VJdDhNpyU-unsplash.jpg");
    /* background: linear-gradient(120deg, #00FFB2, #8400FF, #FF00CC ); */


    /* animation: gradientAnimation 10s infinite linear; */
}

::selection{
    color: hsl(240, 15%, 5%);
}

@keyframes gradientAnimation {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    max-width: 80%;
   

}

@keyframes fade-out{
    to {opacity: 0; scale: .8;}
}

.logo-container{
    
    transform: translateY(-4rem);
    
}

.logo{
    max-width: 8rem;
     animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit;
    opacity: 1;
}


.mobile-nav {
    display: none;
     animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit ;
    opacity: 1;
}

.hamburger {
    display: none;
}

.line {
    content: '';
    min-width: 100%;
    height: 3px;
    background-color: #45214a;
    display: flex;
}

nav{
    position: relative;
    max-width: 100%;
    background-color: none;
    z-index: 10;
    
}

ul{
    display: flex;
    padding: 0 9rem 1rem 9rem;
    margin-top: 4.5rem;
    
}

li{
    list-style: none;
    font-size: 1rem;
    font-family: system-ui;
    
}
a {
    text-decoration: none;
    cursor: pointer;
    margin: 0 1.4rem;
    color: white;
    border-top: 5px;
    border-color: #fbff00;
     animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit ;
    opacity: 1;
}

a:hover{
    color: #fbff00;
}


.hero{
    position: relative;
    display: flex;
    justify-content:center;
    margin: 0 5rem .5rem 5rem;
    border: hsl(259, 13%, 28%) 1px solid;
    position: relative;
    background: hsl(from hsl(240, 15%, 5%) h s l / 0.8);
    backdrop-filter: blur(12px);
    border-radius: 40px;
    /* background: radial-gradient(circle at 50% 250%, hsl(259, 13%, 28%), hsl(255, 21%, 11%)) padding-box;  */
    /* background: linear-gradient(130deg, #443E3E, #1B1B1B); */
    box-shadow: 0 15px 20px rgba(0,0,0,.5);
}

.hero::before{
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    border: 1px solid transparent;
    background: linear-gradient(hsl(259, 13%, 28%),  hsl(255, 21%, 11%)) border-box;
    mask: linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
    mask-composite: subtract;

}


h1 {
    font-family: 'Prosto One', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 6rem;
    align-self: flex-start;
    transition: font-size 0.2s ease-in-out;
     animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -100px;
    opacity: 1;
}

p {
    font-size: 1.5rem;
    color: #8a8585;
     animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit ;
    opacity: 1;
}

.cv-btn{
    min-width: 20%;
    padding: 10px 15px 10px 15px;
    margin: 30px 17px 0 17px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #1b1b1b38;
    color: #fff;
    cursor: pointer;
    width: 20%;
    transition: background-color 0.2s ease-in-out;
     animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
    opacity: 1;
}

.cv-btn:hover{
    color: #1b1b1b;
    background-color: #fbff00;
    box-shadow: 2px 2px 20px 2px rgb(219, 219, 219, .1);
}

.cv-btn:active{
    background-color: #fbff00;
}

    

.earth{
    transform: translateY(4px);
    max-width: 40rem;
    object-position: bottom;
     animation: fade-out-earth linear;
    animation-timeline: view();
    animation-range: exit -200px;
    opacity: 1;
}

@keyframes fade-out-earth {
    to{ opacity: 0;}
}

hr { 
    border: 0; 
    height: 1px;
}


hr:before, hr:after {
    content: '';
    position: absolute;
    width: 85%;
}

hr, hr:before {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.4) 0%,rgba(255, 255, 255, 0) 75%);
}

hr:after {
    background: #f4f4f4;
}

.tech-icons{
    position: relative;
    margin: 25px 0;
    width:100%;
    height: 47px;
    mask-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 30%,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0)
    );
     animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -200px;
    opacity: 1;
}

.tech{
    max-width: 40px;
    position: absolute;
    left: calc(110px * 9);
    height: 45px;
    animation: scroll 15s infinite linear;
    
}

@keyframes scroll {

    to{
        left: 0%;
    }

}

.item1 {
    animation-delay: calc(15s / 9 * (9 - 1) * -1);
}

.item2 {
    animation-delay: calc(15s / 9 * (9 - 2) * -1);
}

.item3 {
    animation-delay: calc(15s / 9 * (9 - 3) * -1);
}

.item4 {
    animation-delay: calc(15s / 9 * (9 - 4) * -1);
}

.item5 {
    animation-delay: calc(15s / 9 * (9 - 5) * -1);
}

.item6 {
    animation-delay: calc(15s / 9 * (9 - 6) * -1);
}

.item7 {
    animation-delay: calc(15s / 9 * (9 - 7) * -1);
}

.item8 {
    animation-delay: calc(15s / 9 * (9 - 8) * -1);
}

.item9 {
    animation-delay: calc(15s / 9 * (9 - 9) * -1);
}


.ht-icon{
    max-width: 45px;
}

.title{
    font-size: 1.2rem;
    font-family: 'Prosto One', system-ui, -apple-system;
    margin: 40px auto;
    text-align: center;
    scale: .8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
    
}


.projects{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;

}

.card{
    margin: 12px 0;
    width: 92%;
    scale: .8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}


.card a{
    scale: .8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

.card img{
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    height: 220px;
    margin-bottom: 15px;
    box-shadow: 0 10px 15px rgba(0,0,0,.4);
    transition: transform 200ms;
    scale: .8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
    
   
}

.card img:hover{
    transform: scale(1.02);
    box-shadow: 0 15px 20px rgba(0,0,0,.3);
}

.lemon {
    max-width:110%
}

.text-card-end{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 10px;
}

.text-card-end p{
    font-size: 1.1rem;
    padding-top: 50px;
    font-family: system-ui;
    color: #8e8989;
}

.github{
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 10px;
}

.about-content{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 70px;
     animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range:entry;
    scale: .8;
    opacity: 0;
}

.about-img{
    overflow: hidden;
    border-radius: 50%;
    margin-right:90px;
    width: 250px;
    height: 250px;
   
}

.about img{
    border-radius: 50%;
    width: 100%;
    transition: transform 200ms;
    
}

@keyframes fade-in {
    to {scale: 1; opacity: 1;}
}


.about img:hover{
    transform: scale(1.1);
}

.about-p {
    width: 40%;
    text-align:start;
    align-content: center;

}

.about-p h3{
    color: #00FFB2;
    font-family: system-ui;
    font-size: 1.5rem;
}

.about-p p{
    font-family: system-ui;
    font-size: 1rem;
    color: #fff;
    opacity: .85;
}




.certs{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.certs img {
    width: 150px;
    border-radius: 0;
    scale: .8;
    opacity: 0;
    transition: transform 200ms;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 200px;
}

.certs img:hover{
    transform: scale(1.05);
}



.footer{
    width: 100%;
    font-family: system-ui;
    font-size: 1rem;
    color:#fff;
    margin: 20px 0;
    text-align: center;
}


@media (min-height: 900px){

    .tech-icons{
        margin: 25px 0 25px 150px;
        mask-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 30%,
        rgba(0, 0, 0, 1) 60%,
        rgba(0, 0, 0, 0)
    );
    }

    .certs{
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .certs img{
        margin-bottom: 30px;
    }


}

/* Responsive adjustments */
@media (max-width: 976px) {

    .nav-links {
        display: none;
    }

    .arrow{
        margin-left: 22rem;
    }


    .hamburger{
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        margin: 2rem 2rem 1rem auto;
    }

    .hamburger .bar, .hamburger:after, .hamburger:before  {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: #ffffff;
        margin: 6px 0px;
        transition: 0.4s;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-9px, -8px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .mobile-nav {
        position: absolute;
        display: none;
        backdrop-filter: blur(10px);
        left: 100%;
        width: 100%;
        min-height: 30vh;
        z-index: 98;
        padding-top: 2rem;
        background: hsl(240, 15%, 5%, .8);
        transition: 0.4s;
        box-shadow: 0 10px 10px rgba(0,0,0,.2);

    }

    .mobile-nav.is-active {
        left: 0;
        transition: 0.4s;
        display: block;
    }

    .mobile-nav a{
        display: block;
        width: 100%;
        max-width: 300px;
        text-align: center;
        margin-bottom: 16px;
        padding: 40px 14px;
        margin: 0 auto 16px;
        list-style: none;
        text-decoration: none;
        font-size: 1.2rem;
        background-color: none;
        color: #fff;
    
    }
    

    h1 { font-size: 4rem; }
    p { font-size: 1.8rem;}


   .back-text{
        display: none;
   }

   .hero{
        margin: 4rem 3rem 0 0;
        padding-bottom:3rem ;
        transform: translateX(-3rem);
        object-fit: contain;
   }

   .earth{
        object-fit: contain;
        overflow: hidden;
   }


    .projects{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .cards img{
        filter: none;
    }

    .about{
        text-align: center;
    }

    .about-img{
        margin-right: 0;
    }

    .about-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

    }

    .about-content h3{
        margin-top: 30px;
        text-align: center;
    }

    .about-img{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-p{
        min-width: 250px;
    }

    .about-p p {
        text-align: center;
        min-width: 250px;
    }
}




@media (max-width: 719px){
    body, html{
        overflow-x: hidden;
    }

    .hero {
        margin: 4rem 0 0 0 ;
        height: 90%;
    }

    .content{
        margin-left: 25px;
    }
    

    h1{
        font-size: 2.2rem;
        margin-left: 1rem;
    }

    p {
        font-size: 1.3rem;
        margin: .5rem 0 1rem .6rem;
    }


    .buttons{
        display: flex;
        flex-direction: column;
    }

    .cv-btn{
        font-size: .7rem;
        text-align: center;
        margin: 15px auto;
        min-width: 50%;
    }
  
    .earth {
        max-width: 100%;
        height: auto;
    }

    .container-earth{
        object-fit: contain;
        border-radius: 0 0 4rem 0;
    }

    .session-title{
        font-size: .8rem;
    }

    .projects{
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
    }

    .card {
        width: 100%;
    }

    .card img{
        filter: none;
        width: 105%;
    }

    .text-card-end{
        font-size: .8rem;
        margin-bottom: 0;
    }

    .github{
        margin-left: 7px;
    }

    .back-text2{
        display: none;
    }

    .certs{
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .certs img{
        margin-bottom: 30px;
    }

}



    
